.sidebarOption {
    display: flex;
    align-items: center;
    color: gray;
    height: 40px;
    cursor: pointer;
    transform: 200ms color ease-in;
}

.sidebarOption:hover {
    color: white;
}

.sidebarOption__icon {
    padding-left: 10px;
    padding-right: 10px;
}